In [24]:
import requests 
import pandas as pd
import FinanceDataReader as fdr
from tqdm import tqdm
from datetime import datetime

In [2]:
NASDAQ = fdr.StockListing('NASDAQ')['Symbol'].tolist()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3877/3877 [00:10<00:00, 366.36it/s]

In [7]:
NASDAQ[0]

'MSFT'

In [6]:
url = f"https://api.stock.naver.com/chart/foreign/item/MSFT.O/day?startDateTime=197001010000&endDateTime=202401151122"

In [8]:
payload = {
    "startDateTime": "197001010000",
    "endDateTime": "202401151115"
    }

In [11]:
r = requests.get(url, data=payload)
r_js = r.json()

In [12]:
df = pd.DataFrame(r_js)
df.head()

,localDate,closePrice,openPrice,highPrice,lowPrice,accumulatedTradingVolume
0,20100709,24.27,24.33,24.41,24.15,53811348
1,20100712,24.83,24.43,24.89,24.42,49862201
2,20100713,25.13,25.14,25.30,24.90,61928666
3,20100714,25.44,25.50,25.61,25.12,72808022
4,20100715,25.51,25.50,25.59,24.98,56934631

In [13]:
df['localDate'] = pd.to_datetime(df['localDate'], format='%Y%m%d')
df.head()

,localDate,closePrice,openPrice,highPrice,lowPrice,accumulatedTradingVolume
0,2010-07-09,24.27,24.33,24.41,24.15,53811348
1,2010-07-12,24.83,24.43,24.89,24.42,49862201
2,2010-07-13,25.13,25.14,25.30,24.90,61928666
3,2010-07-14,25.44,25.50,25.61,25.12,72808022
4,2010-07-15,25.51,25.50,25.59,24.98,56934631

In [16]:
df['Symbol_Code'] = 'MSFT'

In [17]:
df.head()

,localDate,closePrice,openPrice,highPrice,lowPrice,accumulatedTradingVolume,Symbol_Code
0,2010-07-09,24.27,24.33,24.41,24.15,53811348,MSFT
1,2010-07-12,24.83,24.43,24.89,24.42,49862201,MSFT
2,2010-07-13,25.13,25.14,25.30,24.90,61928666,MSFT
3,2010-07-14,25.44,25.50,25.61,25.12,72808022,MSFT
4,2010-07-15,25.51,25.50,25.59,24.98,56934631,MSFT

In [19]:
df.columns = ['date', 'close', 'open', 'high', 'low',
       'volume', 'Symbol_Code']

In [22]:
df.head()

        date  close   open   high    low    volume Symbol_Code
0 2010-07-09  24.27  24.33  24.41  24.15  53811348        MSFT
1 2010-07-12  24.83  24.43  24.89  24.42  49862201        MSFT
2 2010-07-13  25.13  25.14  25.30  24.90  61928666        MSFT
3 2010-07-14  25.44  25.50  25.61  25.12  72808022        MSFT
4 2010-07-15  25.51  25.50  25.59  24.98  56934631        MSFT

In [72]:
now  =  datetime.now().strftime("%Y%m%d%H%M")
now = '202401130000'

In [73]:
url = f"https://api.stock.naver.com/chart/foreign/item/MSFT.O/day?startDateTime=&endDateTime={now}"

In [74]:
payload = {
    "endDateTime": f"{now}"
    }

In [75]:
r = requests.get(url, data=payload)
r_js = r.json()

In [76]:
df = pd.DataFrame(r_js)
df.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in tqdm(NASDAQ):
    
    url = f"https://api.stock.naver.com/chart/foreign/item/{i}.O/day?startDateTime=&endDateTime={now}"
    payload = {
    "endDateTime": f"{now}"
    }
    r = requests.get(url, data=payload)
    r_ = r.json()
    df = pd.DataFrame(r_)
    df['code'] = i
    df['localDate'] = pd.to_datetime(df['localDate'], format='%Y%m%d')
    df.columns = ['date', 'close', 'open', 'high', 'low', 'volume', 'Symbol_Code']
    df.to_csv(f"./NASDAQ_stock/{i}.csv",index=False,encoding="utf-8-sig")

In [37]:
for i in tqdm(NASDAQ):
    
    url = f"https://api.stock.naver.com/chart/foreign/item/{i}.O/day?startDateTime=197001010000&endDateTime=202401170000"
    payload = {
    "startDateTime": "197001010000",
    "endDateTime": "202401170000"
    }
    r = requests.get(url, data=payload)
    r_ = r.json()
    df = pd.DataFrame(r_)
    df['code'] = i
    df['localDate'] = pd.to_datetime(df['localDate'], format='%Y%m%d')
    df.columns = ['date', 'close', 'open', 'high', 'low', 'volume', 'Symbol_Code']
    df.to_csv(f"./NASDAQ_stock/{i}.csv",index=False,encoding="utf-8-sig")

 10%|████▉                                           | 394/3877 [00:47<06:59,  8.30it/s]

KeyError: 'localDate'

In [52]:
NASDAQ[2606]

'GORV'

In [56]:
NASDAQ[3367]

'CLVSQ'

In [60]:
NASDAQ[3792]

'SPEL'

In [63]:
NASDAQ[3793]

'MVNR'

In [64]:
NASDAQ[3794]

'ADOCR'

In [65]:
url = f"https://api.stock.naver.com/chart/foreign/item/ADOCR.O/day?startDateTime=197001010000&endDateTime=202401170000"
payload = {
"startDateTime": "197001010000",
"endDateTime": "202401170000"
}
r = requests.get(url, data=payload)
r_ = r.json()
df = pd.DataFrame(r_)
df['code'] = i
df['localDate'] = pd.to_datetime(df['localDate'], format='%Y%m%d')
df.columns = ['date', 'close', 'open', 'high', 'low', 'volume', 'Symbol_Code']
df.head()

        date   close   open   high     low  volume Symbol_Code
0 2020-12-10  0.3300  0.300  0.330  0.3000   22490        MVNR
1 2020-12-11  0.2699  0.460  0.460  0.2695   47430        MVNR
2 2020-12-14  0.3000  0.275  0.300  0.2500  711998        MVNR
3 2020-12-15  0.3000  0.305  0.345  0.2999  231530        MVNR
4 2020-12-16  0.3294  0.310  0.420  0.3100   27436        MVNR

In [66]:
for i in tqdm(NASDAQ[3794:]):
    
    url = f"https://api.stock.naver.com/chart/foreign/item/{i}.O/day?startDateTime=197001010000&endDateTime=202401170000"
    payload = {
    "startDateTime": "197001010000",
    "endDateTime": "202401170000"
    }
    r = requests.get(url, data=payload)
    r_ = r.json()
    df = pd.DataFrame(r_)
    df['code'] = i
    df['localDate'] = pd.to_datetime(df['localDate'], format='%Y%m%d')
    df.columns = ['date', 'close', 'open', 'high', 'low', 'volume', 'Symbol_Code']
    df.to_csv(f"./NASDAQ_stock/{i}.csv",index=False,encoding="utf-8-sig")

 99%|██████████████████████████████████████████████████▍| 82/83 [00:05<00:00, 15.38it/s]

KeyError: 'localDate'

In [81]:
import os

code_lst = []

for file in os.listdir("./NASDAQ_stock/"):
    f1 = open("./NASDAQ_stock/{}".format(file), "r", encoding='utf-8')
    data = f1.read()
    data = file.split(".")[0]
    code_lst.append(data)

In [82]:
code_lst.__len__()

3871

In [99]:
stock_lst = []

for i in tqdm(code_lst):
    company = nasdaq[nasdaq['Symbol'] == i].reset_index()['Name'][0]
    stock_lst.append(['NASDAQ',i,company])

100%|█████████████████████████████████████████████| 3871/3871 [00:01<00:00, 3354.13it/s]

In [103]:
df = pd.DataFrame(stock_lst)
display(df.head())
display(df.shape)
display(df.info())

        0     1                          2
0  NASDAQ  ANTE  Airnet Technology Inc ADR
1  NASDAQ  BRZE                  Braze Inc
2  NASDAQ  CSCO          Cisco Systems Inc
3  NASDAQ  TYRA       Tyra Biosciences Inc
4  NASDAQ   WTO                  Utime Ltd

(3871, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3871 entries, 0 to 3870
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3871 non-null   object
 1   1       3871 non-null   object
 2   2       3871 non-null   object
dtypes: object(3)
memory usage: 90.9+ KB

None

In [108]:
df.columns = ['Exchange','Symbol_Code','Company']

In [111]:
df.head()

  Exchange Symbol_Code                    Company
0   NASDAQ        ANTE  Airnet Technology Inc ADR
1   NASDAQ        BRZE                  Braze Inc
2   NASDAQ        CSCO          Cisco Systems Inc
3   NASDAQ        TYRA       Tyra Biosciences Inc
4   NASDAQ         WTO                  Utime Ltd

In [112]:
df.to_csv(f"./NASDAQ_Company_List.csv",index=False,encoding="utf-8-sig")

In [84]:
nasdaq = fdr.StockListing('NASDAQ')

100%|██████████████████████████████████████████████| 3877/3877 [00:10<00:00, 362.29it/s]

In [85]:
nasdaq.head()

  Symbol                  Name IndustryCode    Industry
0   MSFT        Microsoft Corp     57201020       소프트웨어
1   AAPL             Apple Inc     57106020  전화 및 소형 장치
2   AMZN        Amazon.com Inc     53402010         백화점
3   NVDA           NVIDIA Corp     57101010         반도체
4  GOOGL  Alphabet Inc Class A     57201030     온라인 서비스

In [98]:
na = nasdaq[nasdaq['Symbol'] == 'ANTE'].reset_index()['Name'][0]
na['Name'][0]

'Airnet Technology Inc ADR'