In [2]:
import requests
import pandas as pd
import os
from tqdm import tqdm 
url = "https://api.stock.naver.com/stock/exchange/HANOI/"
all_data = []  

page = 1
while True:
    payload = {
        "page": str(page),
        "pageSize": "20"
    }
    response = requests.get(url, params=payload)
    if response.status_code == 200:
        data = response.json().get('stocks', [])
        all_data.extend(data)

        if len(data) == 0:
            break 
        else:
            page += 1  
    else:
        print(f'HTTP 요청 실패: {response.status_code}')
        break
        
hanoi_stocks = pd.DataFrame(all_data)
Symbol_Code = hanoi_stocks['reutersCode'].tolist()
Company = hanoi_stocks['stockName'].tolist()

In [3]:
df = pd.DataFrame({
    'Symbol_Code': Symbol_Code,
    'Company': Company
})

In [5]:
df['Exchange'] = 'VIETNAM'

In [6]:
df

    Symbol_Code            Company Exchange
0        SHS.HN           사이공하노이증권  VIETNAM
1        CEO.HN              CEO그룹  VIETNAM
2        MBG.HN          베트남무역건설개발  VIETNAM
3        PVS.HN            PV기술서비스  VIETNAM
4        MBS.HN               MB증권  VIETNAM
..          ...                ...      ...
322      X20.HN            X20 JSC  VIETNAM
323      MVB.HN      비나코민 비엣박 광업지주  VIETNAM
324      GMA.HN            베트남 엔테코  VIETNAM
325      PRE.HN         하노이 리인슈어런스  VIETNAM
326      L40.HN  40 인베스트먼트 앤 컨스트럭션  VIETNAM

[327 rows x 3 columns]

In [11]:
df.insert(0, 'Exchange', df.pop('Country'))

    df_r.to_csv(f"./vietnam/{code}.csv", index=False, encoding='utf-8')

In [14]:
df.to_csv("./Hanoi-Company-List.csv", index=False, encoding='utf-8')